.one-shoe-suits {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    background-color: rgba(123, 186, 221, 0.8);
    border-radius: 16px;
    text-align: center;
    margin-left: em(32px);
    margin-right: em(32px);
    color: white;

    .logo-img {
        width: 80px;
        align-self: flex-end;
        padding: 16px;
    }

    .main-txt {
        font-weight: 600;
        padding: em(8px) em(32px);

        @media (min-width: 1600px) {
            padding: em(32px) em(64px);
        }
    }

    .runner-img {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .orange-img {
        width: 80px;
        align-self: center;
    }
}