.stat-preview {
    .stat-type {
        text-align: center;
        padding: em(6px);
        @media (min-width:1600px) {
            padding: em(8px);
        }
    }

    .bars {
        display: flex;
        justify-content: space-between;
        font-size: em(12px);
        text-align: center;

        .duo {
            padding: 0;
            @media (min-width:1600px) {
                padding:em(11px);
            }
            .bar {
                width: 50px;
                @media (min-width:1600px) {
                    width:100px;
                }

                height: 5px;
                border: 1px solid white;
                border-radius: 16px;

                &.chosen {
                    background-color: aqua;
                }
            }
        }
    }


}