.main-layout {
    font-family: sans-serif;
    font-size: em(19px);
    text-align: right;

    @media (min-width: 1600px) {
        font-size: em(24px);
    }

    .one-shoe-page {
        background-image: url(../../img/bg.jpg);
        background-size: cover;
        display: grid;
        grid-template-columns: 30vw 40vw 30vw;
        justify-content: center;
        align-items: center;
        grid-template-rows: 100vh;


    }

    

}